                                                               # Python
__pycache__/
*.pyc
*.pyo

# virtual env
venv/
.env

# data
data/
outputs/

# mac
.DS_Store

# notebooks checkpoints
.ipynb_checkpoints/
